<div class="container-fluid">
    <div class="card" style="top:100px">
        <div class="card-header ">
            <h2 class="font-weight-bolder text-center text-dark font-size-h2 font-size-h1-lg">Reset Password ?</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <ng-container *ngIf="showForm">
                    <form class="form" [formGroup]="resetPasswordForm " (ngSubmit)="onSubmit()">
                        <div class="text-center pb-8">

                            <p class="text-muted font-weight-bold font-size-h4">Enter your new password</p>
                        </div>

                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">New Password</label>
                            <input type="password" class="form-control" formControlName="newPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && submittedResetPasswordForm.newPassword.errors }" />
                            <div *ngIf="submitted && submittedResetPasswordForm.newPassword.errors">
                                <div *ngIf="submittedResetPasswordForm.newPassword.errors.required" class="text-danger">New Password is required </div>
                                <div *ngIf="submittedResetPasswordForm.newPassword.errors.minlength" class="text-danger">Password must be at least 4 characters</div>
                                <div *ngIf="submittedResetPasswordForm.newPassword.errors.maxlength" class="text-danger">Password max be 8 characters</div>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label class="font-size-h6 font-weight-bolder text-dark">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && submittedResetPasswordForm.confirmPassword.errors }" />
                            <div *ngIf="submitted && submittedResetPasswordForm.confirmPassword.errors">
                                <div *ngIf="submittedResetPasswordForm.confirmPassword.errors.required" class="text-danger">New Password is required </div>
                                <div *ngIf="submittedResetPasswordForm.confirmPassword.errors.minlength" class="text-danger">Password must be at least 4 characters</div>
                                <div *ngIf="submittedResetPasswordForm.confirmPassword.errors.maxlength" class="text-danger">Password max be 8 characters</div>
                                <div *ngIf="submittedResetPasswordForm.confirmPassword.errors.mustMatch" class="text-danger">New and current password must match</div>
                            </div>
                        </div>

                        <ng-container *ngIf="showAlert">
                            <div class="alert mt-3" [ngClass]="{'alert-danger': errorAlert === true,'alert-success':successAlert === true}" role="alert">
                                {{alertMessage}}
                            </div>
                        </ng-container>

                        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3 mt-4">
                            <button type="submit" id="kt_login_forgot_submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </ng-container>

            </div>
        </div>

        <div class="card-footer">
            <button [routerLink]="loginRoute" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>