<div class="container">
    <div class="card" style="top:100px">
        <div class="card-header">
            <h1 class="text-center">Activating Account</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="alert mt-3 text-center alert-success" role="alert">
                        Please wait, Activating Account
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">

        </div>
    </div>

</div>