<div class="container">
    <div class="card" style="top:100px">
        <div class="card-header">
            <h2 class="font-weight-bolder text-dark text-center font-size-h2 font-size-h1-lg">Forgotten Password ?</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="text-center pb-8">

                            <p class="text-muted font-weight-bold font-size-h4">Enter your email to reset your password</p>
                        </div>

                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                            <input class="form-control" formControlName="email" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && submittedForgotPasswordForm.email.errors }" />
                            <div *ngIf="submitted && submittedForgotPasswordForm.email.errors">
                                <div *ngIf="submittedForgotPasswordForm.email.errors.required" class="text-danger">Email is required</div>
                                <div *ngIf="submittedForgotPasswordForm.email.errors.max" class="text-danger">Maximum 100 Characters are allowed</div>
                                <div *ngIf="submittedForgotPasswordForm.email.errors.email" class="text-danger">Invalid email</div>
                            </div>
                        </div>


                        <ng-container *ngIf="showAlert">
                            <div class="alert mt-3" [ngClass]="{'alert-danger': errorAlert === true,'alert-success':successAlert === true}" role="alert">
                                {{alertMessage}}
                            </div>
                        </ng-container>

                        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
                            <button type="submit" class="btn btn-primary mt-4">Submit</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

        <div class="card-footer">
            <button [routerLink]="loginRoute" class="btn btn-primary">Login?</button>

        </div>
    </div>

</div>