.container-fluid {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}

.col-lg-8 {
    padding: 0 !important;
}

img {
    object-fit: cover;
    height: 100% !important;
}